#about-me{
    min-height: 40vh;
    background-color: rgba(12, 13, 14, 0.568);
}

h2{
    font-weight: 700;
    text-align: center;
    color: white;
}

.row{
    display: flex;
    justify-content: center;
}

#photo{
    text-align: center;
    margin: 2%;
}

.photo{
    width: 100%;
    height: auto;
    margin-left:20%;
    margin-right:5%;
    margin-top: 5%;
}

.description{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(224, 220, 220);
    font-size: 16px;
}

.container{
    padding-top: 1.5%;
    padding-bottom: 5%;
}

.colorM{
    color: rgb(224,220,220);
    font-weight: 600;
    font-size: 16px;
}

.color:hover{
    color: rgb(202, 13, 13);
    font-weight: 600;
}